body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}
.secao {
    margin: 20px;
    padding: 15px;
    background-color: #f2f2f2;
    border: 2px solid #ccc;
    border-radius: 12px;
}
.centralizado {
    text-align: center;
    color: #0044cc;
    font-size: 22px;
}
.texto-direita {
    text-align: right;
    color: #008000;
    font-size: 18px;
}

.colorido {
    text-align: left;
    color: #cc0000;
    font-size: 20px;
}
.link-social {
    color: #663399;
    text-decoration: none;
}
.link-social:hover {
    text-decoration: underline;
}
.icone {
    width: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

.avatar {
    border-radius: 50%;
    border: 3px solid #0044cc;
    margin: 20px auto;
    display: block;
    margin-top: 70px;
}
.topo-fixo {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #0044cc;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    z-index: 1000;
}

.avatar-topo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
}
.icone {
    font-size: 20px;
    color: #333;
    margin-right: 8px;
    vertical-align: middle;
}
.icone.fa-instagram {
    color: #E4405F;
}
.icone.fa-github {
    color: #181717;
}
.icone:hover {
    transform: scale(1.2);
    transition: 0.2s;
}